<div class="row menubar">
    <a href="/"><div class="col-xs-2"><span class="helper"></span><span class="glyphicon glyphicon-chevron-left"></span></div></a>
    <div class="col-xs-1"></div>
    <a href="/"><div class="col-xs-6"><span class="helper"></span><img src="/images/logowhite.png"/></div></a>
    <div class="col-xs-1"></div>
    <div class="col-xs-2"></div>
</div>