<a href="#" class="control-button playback-button" ng-show="playbackRateExists(.25)" ng-click="clickedPlaybackRate(.25)" ng-class="{active: playbackActive(.25)}">
    .25x
</a>
<a href="#" class="control-button playback-button" ng-show="playbackRateExists(.5)" ng-click="clickedPlaybackRate(.5)" ng-class="{active: playbackActive(.5)}">
    .5x
</a>
<a href="#" class="control-button playback-button">
        <i class="fa fa-play control-pauseplay" ng-click="clickedPausePlay()" ng-class="{active: playbackActive(1)}"></i>
</a>
<a href="#" class="control-button playback-button" ng-show="playbackRateExists(1.5)" ng-click="clickedPlaybackRate(1.5)" ng-class="{active: playbackActive(1.5)}">
    1.5x
</a>
<a href="#" class="control-button playback-button"  ng-show="playbackRateExists(2)" ng-click="clickedPlaybackRate(2)" ng-class="{active: playbackActive(2)}">
    2x
</a>
<a href="#" class="control-time">
    <a class="control-current-time">
    </a> /
    <a class="control-max-time">
    </a>
</a>
<a href="#"  class="control-button">
    <i class="fa fa-volume-up control-sound" ng-click="clickedVolume()"></i>
</a>
<a href="#" class="control-button" ng-show="true">
    <i class="fa fa-plus control-addBreakpoint" ng-click="clickedAddBreakpoint()"></i>
    <span class="control-helper add-new">
        Add Breakpoint
    </span>
</a>

<a href="#" class="control-button" ng-show="hasCurrentBreakpoint()">
    <i class="fa fa-clock-o control-addBreakpoint" ng-click="clickedSetEndTime()"></i>
    <span class="add-breakpoint-helper finish">
        Set new end time
    </span>
</a>

<a class="control-button" href="#" >
    <i class="fa fa-repeat control-repeat" ng-click="clickedLoopOnCurrent(event)"ng-class="{active: loopOnCurrent}"></i>
    <span class=" control-helper">
        Loop on current
    </span>
</a>


<a href="#" class="control-button" ng-show="false">
    <i class="fa fa-check control-addBreakpoint" ng-click="clickedSaveBreakpoint()"></i>
    <span class="control-helper finish">
        Save Breakpoint
    </span>
</a>
