<!doctype html>

<html>

<head>
    <title>HCI Project Portfolio</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Foundational css goes first -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Then page specific styling -->
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/charlie_sandbox.css" rel="stylesheet">
</head>

<body id="container">

<!-- All the html and stuff goes here -->
<div class="col-xs-8">
    <div id="player"> Video loading! Sit tight</div>
</div>
<div class="col-xs-4">
    <div id="breakpoint-container"></div>
</div>
<div class="col-xs-12">
    <div class="complaint">And then we implement our own video controls!</div>
</div>

<!-- Scripts go at the bottom here -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Put your scripts after here -->
<script src="/js/jsclass_core.js"></script>
<script src="/js/breakpoint_classes.js"></script>
<script src="/js/charlie_sandbox.js"></script>

</body>

</html>
