<!doctype html>

<html>
<head>
	<title>Breakpoint</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="/css/application.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row text-center">
			<img id="logo" src="/images/logo.png"/>
			<div id="description">
				<h4> Dance studio in your hand </h4>
			</div>
			<a href="/create">
				<div class="menu-button">
					<div class="menu-icon"><span class="glyphicon glyphicon-facetime-video"></span></div>
					<div class="menu-text">
						<div class="menu-text1"> CREATE </div>
						<div class="menu-text2"> BREAKPOINT VIDEO </div>
					</div>
				</div>
			</a>
			<a href="/playlist">
				<div class="menu-button">
					<div class="menu-text"> 
						<div class="menu-text1" style="text-align: right"> PLAY </div>
						<div class="menu-text2" style="text-align: right"> BREAKPOINT VIDEO </div>
					</div>
					<div class="menu-icon"><span class="glyphicon glyphicon-play"></div>
				</div>
			</a>
			<a href="/help">
				<div class="menu-button">
					<div class="menu-icon"><span class="glyphicon glyphicon-question-sign"></span></div>
					<div class="menu-text"> 
						<div class="menu-text1"> HOW TO </div>
						<div class="menu-text2"> BREAKPOINT </div>
					</div>
				</div>
			</a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
