<!doctype html>

<html>
<head>
	<title>Breakpoint</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="/css/application.css" rel="stylesheet">
	<link href="/css/playlist.css" rel="stylesheet">
</head>

<body>
	<div class="row menubar">
		<a href="/"><div class="col-xs-2"><span class="helper"></span><span class="glyphicon glyphicon-chevron-left"></span></div></a>
		<a href="/"><div class="col-xs-8"><span class="helper"></span><img src="/images/logowhite.png"/></div></a>
		<div class="col-xs-2"></div>
	</div>
	<a name="top"></a>
	<div class="container">
		<h4> YOUR BREAKPOINT VIDEOS <span class="glyphicon glyphicon-facetime-video"></span></h4>
		<hr>
		<div class="playlist">
			{{#each videos}}
				<div class="row videoitem">
					<div class="col-xs-5">
						<img class="thumbnail" src="{{imageURL}}" />
					</div>
					<div class="col-xs-7">
						<a href="/sandbox/{{vidid}}"><h5 class="title">{{title}}</h5></a>
						<p class="description">{{description}}</p>
					</div>
				</div>
			{{/each}}
		</div>
		<div class="row text-center">
			<a href="#top"><h4> GO BACK TO TOP <span class="glyphicon glyphicon-arrow-up"></span></h4></a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
