<!doctype html>

<!-- Just for reference or copy paste necessity. I like Rails so much -->
<!-- I'll get the partials working soon... -->


<html>

<head>
    <title>HCI Project Portfolio</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Foundational css goes first -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Then page specific styling -->
    <link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>

<!-- All the html and stuff goes here -->


<!-- Scripts go at the bottom here -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Put your scripts after here -->
<!-- <script src="/js/MY_SCRIPT.js"></script> -->



</body>

</html>
