body {
     background-color:#181818;
}

h1, h2, h3, h4, h5, h6, p {
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 300;
     color: white;
}

.container {
     width: 90%;
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
     padding: 10px;
}

.menubar {
     background-color:#993366;
     height: 45px;
     text-align: center;
     margin: 0;
     position: fixed;
     width: 100%;
     left: 0;
     top: 0;
     z-index: 10000;
}

.menubar a {
     color: white;
}

.menubar span {
     height: 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.menubar img {
     height: 30px;
     line-height: 45px;
     vertical-align: middle;
}

a:hover {
     text-decoration: none;
}
