#container {
  background: #1b1b1b;
  margin-top: 40px; }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
.smartphone-landscape {
  width: 480px;
  height: 320px;
  background: black; }

#player {
  position: relative; }
  #player .player-main {
    width: 350px;
    height: 320px;
    display: inline-block;
    background: #4c4c4c;
    position: absolute; }
  #player .player-controls {
    position: relative;
    width: 100%; }
  #player .player-slider {
    width: 100%; }
  #player .main-slider {
    cursor: pointer;
    width: 100%;
    background: #000080;
    height: 10px; }
  #player .slider-breakpoints {
    height: 20px;
    background: #004080; }
  #player .slider-breakpoint {
    position: absolute;
    cursor: pointer;
    left: 0; }
  #player .slider-breakpoint-img.active, #player .slider-breakpoint-img:hover {
    border: solid 2px #ff0000;
    top: -2px;
    left: -2px; }
  #player .slider-breakpoint-img {
    height: 20px;
    width: 20px; }
  #player .filled-slider {
    height: 100%;
    background: #800000; }
  #player .control-button {
    font-size: 2em;
    padding: 10px 10px; }
  #player .control-button .fa {
    cursor: pointer;
    color: #eeeeee; }
    #player .control-button .fa:hover {
      color: #0080ff; }
    #player .control-button .fa:active {
      color: #0000ff; }
  #player .player-iframe {
    width: 350px;
    height: 270px; }
  #player .player-sidenav {
    width: 130px;
    height: 320px;
    background: #7f7f7f;
    position: absolute;
    top: 0;
    right: 0; }
  #player .player-menu {
    height: 30px;
    color: #cccccc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #333333; }
  #player .player-breakpoints {
    display: block;
    overflow-y: auto;
    height: 290px;
    width: 130px; }

.breakpoints-ul {
  color: white;
  padding: 0;
  list-style: none;
  background: #1b1b1b; }

.breakpoint-li {
  overflow: hidden; }
  .breakpoint-li .breakpoint {
    background: #191919; }
  .breakpoint-li:nth-child(odd) .breakpoint {
    background: #222222; }
  .breakpoint-li .breakpoint.active, .breakpoint-li .breakpoint:hover {
    background: #0c0c0c;
    color: #f3f3f3; }

.breakpoint {
  max-height: 45px;
  display: block;
  font-size: 0.8em;
  color: #e6e6e6;
  padding: 8px 5px; }
  .breakpoint:hover {
    text-decoration: none; }
  .breakpoint .breakpoint-time {
    display: inline; }
  .breakpoint .breakpoint-name {
    color: #666666;
    margin-left: 6px;
    display: inline; }

.complaint {
  color: white; }

