
$slate-grey: #1b1b1b;
$header-height: 40px;

#container{
    background: $slate-grey;
}

.glyphicon-list{
    height: 0 !important;
}

/* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// /* Styles */
// }

/* Smartphones (landscape) ----------- */
// @media only screen and (min-width : 321px) {
// /* Styles */
//     #container{
//         background: blue !mportant;
//     }
// }

/* Smartphones (portrait) ----------- */
// @media only screen and (max-width : 320px) {
// /* Styles */
// }

// RIght now these are in the breakpoint_classes js folder as well...
// TODO - these will be set dynamically sooner or later
// so that they look right on all the smartphones
$SMARTPHONE_HEIGHT: 480px; //in portrait orientation
$SMARTPHONE_WIDTH: 320px; // also in portrait orientation

$VIDEO_WIDTH: 350px;
$VIDEO_HEIGHT: 270px;

// this logic is useful and can end up in the js
$SIDE_NAV_WIDTH: $SMARTPHONE_HEIGHT - $VIDEO_WIDTH;
$VIDEO_CONTROL_HEIGHT: $SMARTPHONE_WIDTH - $VIDEO_HEIGHT;

$MENU_HEIGHT: 0;
$MENU_HEIGHT: 30px;
$BREAKPOINTS_HEIGHT: $SMARTPHONE_WIDTH - $MENU_HEIGHT;
$BREAKPOINT_HEIGHT: 45px;

.smartphone-landscape{
    width:$SMARTPHONE_HEIGHT;
    height: $SMARTPHONE_WIDTH;
    background: black;
}

#player{
    position: relative;

    // ------- Main video and control section ////

    .player-main{
        width: $VIDEO_WIDTH;
        height: $SMARTPHONE_WIDTH;
        display: inline-block;
        background: #4c4c4c;
        position: absolute;

    }


    // ----- player controls ------ //



    .player-controls{
        position:relative;
        width:100%;
        // background: #000080;
    }

    .player-slider{
        width: 100%;

    }

    .main-slider{
        cursor: pointer;
        width: 100%;
        // height: 100%;
        background: #000080;

        height:10px;
    }

    .slider-breakpoints{
        // width:100%;   
        height: 10px;
        // background: #004080;
    }

    .slider-breakpoint{
        position:absolute;
        cursor: pointer;
        left:0;

    }

    %active-slider-breakpoint-img{// can't extend nested selectors
        border: solid 2px #ff0000;
        top:-2px;
        left:-2px;
    }

    .slider-breakpoint-img.active{
        @extend %active-slider-breakpoint-img;
    }
    .slider-breakpoint-img:hover{
        @extend %active-slider-breakpoint-img;
    }

    .slider-breakpoint-img{
        height: 20px;
        width: 20px;
        vertical-align: top;
        // background:white;
    }

    %active-slider-breakpoint-icon{// can't extend nested selectors
        color:#0080ff;
    }

    .slider-breakpoint-icon{
        cursor:pointer;
        font-size: 20px;
        // figure out transitions etc. 
        color: #eeeeee;

        &:active{
            color:#0000ff;
        }
        &:hover{
            @extend %active-slider-breakpoint-icon;
        }
        &.to-remove{
            color: #ff0000;
        }
    }
    .slider-breakpoint-icon.active{
        @extend %active-slider-breakpoint-icon;
    }

    .filled-slider{
        height: 100%;
        // width:100%;
        // position: absolute;
        // left: 95%;
        background: #800000;
    }

    .control-buttons{
        padding-left:20px;
    }

    .control-button{
        font-size: 1.2em; // todo responsive
        display: inline-block;
        padding:5px;
    }
    // all icons in the button bar
    .control-button .fa{
        // @include transition(width, .2s, ease-in);
        cursor:pointer;
        color: #eeeeee;
        // figure out transitions etc. 
        &:hover{
            color:#0080ff;
        }
        &:active{
            color:#0000ff;
        }
    }

    .control-time{
        color: #999999;
    }

    .control-max-time{

    }

    .control-current-time{

    }


    .control-sound, .control-nosound{
        font-size: .8em;
    }

    .hidden{
        opacity: 0;
    }


    .add-breakpoint-helper{
        font-size: .5em;
    }



    .player-iframe{
        width: $VIDEO_WIDTH;
        height: $VIDEO_HEIGHT;
    }

    //  ----- Side nav ---------- //

    .player-sidenav{
        width: $SIDE_NAV_WIDTH;
        height: $SMARTPHONE_WIDTH;
        background: #7f7f7f;
        // display: inline-block;
        position: absolute;
        top:0;
        right:0;
    }

    // little menu thing....

    .player-menu{
        height: $MENU_HEIGHT;
        // padding: 5px
        color: #cccccc;
        text-align:center;
        padding-top:5px;
        padding-bottom:5px;
        background:#333333;
    }

    // ------ Breakpoints container ----- //

    .player-breakpoints{
        display: block;
        overflow-y: auto;
        height: $BREAKPOINTS_HEIGHT;
        width: $SIDE_NAV_WIDTH;
    }

}


.breakpoints-ul{
    color:white;
    padding:0;
    list-style: none;
    background: $slate-grey;
}

.breakpoint-li{
    position: relative;
    .breakpoint{
        background:#191919;
    }
    &:nth-child(odd) .breakpoint{
        background:#222222;
    }    
    overflow:hidden;
    %active-breakpoint{
        background:#0c0c0c;
        color:#f3f3f3;
    }
    .breakpoint.active{
        @extend %active-breakpoint;
    }
    .breakpoint:hover{
        @extend %active-breakpoint;
    }
    .breakpoint-remove{
        position: absolute;
        // text-align: right;
        top:0;
        right:0;
        padding:4px;
        font-size: .8em;
        color: #4c4c4c;
        cursor: pointer;
        &:hover{
            color: #800040;
        }
        &:active{
            color: #610030;
        }
    }
}

.breakpoint{
    max-height: $BREAKPOINT_HEIGHT;
    display: block;
    font-size: .8em;
    color: #e6e6e6;
    padding: 8px 5px;
    &:hover{
        text-decoration: none;
    }
    .breakpoint-time{
        display: inline;
    }
    .breakpoint-name{
        color:#666666;
        margin-left: 6px;
        display: inline;
    }
}

.complaint{
    color:white;
}

.flat{

}

.debug-button{
    position: fixed;
    bottom:0;
}

