input, textarea {
	width: 100%;
	margin-bottom: 20px;
}

.menutitle {
	font-weight: 800;
	font-size: 20pt;
	margin-bottom: 20px;
	color: #cd2b8a;
}

.heading {
	font-weight: 300;
	font-size: 15pt;
	color: white;
	border-left: 10px solid #d11985;
	padding-left: 10px;
	margin-bottom: 5px;
}